<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671924222085-s276cq7ckcjv9666bbaind4smininng5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671924222085-s276cq7ckcjv9666bbaind4smininng5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>671924222085-1jhjg9e6eo9rotu54fllrui8k55pscjd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFoSDv_6Nukf8_Xut2aVxzwk3ZQmoAM_g</string>
	<key>GCM_SENDER_ID</key>
	<string>671924222085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alcheringa.alcheringa2022</string>
	<key>PROJECT_ID</key>
	<string>alcheringa2022</string>
	<key>STORAGE_BUCKET</key>
	<string>alcheringa2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671924222085:ios:9893c83d868db376c751ec</string>
	<key>DATABASE_URL</key>
	<string>https://alcheringa2022-default-rtdb.firebaseio.com</string>
</dict>
</plist>